* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.headerWrapper {
    width: 100%;
  background-image: linear-gradient(180deg, #d9e4ff, #fff);
  height: 100vh;
}
.headerContent {
  text-align: center;
  width: 100%;
}
.heading {
  color: #282841;
  font-family: "Rubik", sans-serif;
  font-size: 70px;
  letter-spacing: 2px;
}

.text {
  font-size: 22px;
  color: rgba(40, 40, 65, 0.7);
  font-weight: 200 !important;
}
.downloadBtnHeder {
  font-size: 22px;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #0986ff, #00299d);
  color: white;
  padding: 15px 50px;
}
.priceBtn {
  color: black;
  padding: 15px 50px;
  font-size: 22px;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-image: linear-gradient(180deg, #fff, #f9f9f9 46%, #e2e2e2);
}
.videoBox {
  position: relative;
}
.videoBox video {
  position: relative;
  z-index: 1;
  width: 440px;
  height: 440px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 30px 80px 0 rgba(40, 52, 205, 0.6);
  box-shadow: 0 30px 80px 0 rgba(40, 52, 205, 0.6);
}

.Img_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.Img_box img {
  width: 100%;
}
@media (max-width:620px){
    .heading {
        color: #282841;
        font-family: "Rubik", sans-serif;
        font-size: 55px;
        letter-spacing: 8px;
      }
}
@media (max-width:505px){
    .heading {
        color: #282841;
        font-family: "Rubik", sans-serif;
        font-size: 50px;
        letter-spacing: 4px;
      }
}
@media (max-width:480px){
    .videoBox video{
        width: 400px;
        height: 400px;
    }
    .heading {
        color: #282841;
        font-family: "Rubik", sans-serif;
        font-size: 40px;
        letter-spacing: 4px;
      }
}
@media (max-width:400px){
    .videoBox video{
        width: 300px;
        height: 300px;
    }
    .heading {
        color: #282841;
        font-family: "Rubik", sans-serif;
        font-size: 30px;
        letter-spacing: 4px;
      }
}
@media (max-width:300px){
    .videoBox video{
        width: 250px;
        height: 250px;
    }
}